*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: url(./IMG_0297.jpg);
    background-size: cover;

}

.todo-app{
    width: 80%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    border: 2px solid white;

}



.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: 500;
}

i{
    font-size: 35px;
    margin-left: 10px;
    color: rgba(189, 39, 144, 0.507);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0.596);
    height: 30px;
}

#input-box{
    height: 30px;
    border-radius: 5px;
    border: 0px solid;
    padding: 0 30px;
    padding-right: 80px;
    background: transparent;
    flex: 1;
}

#input-box:focus{
    outline: 0;
}
#add-button{
    height: 30px;
    padding: 0 30px;
    border: white;
    background: transparent;
}

#add-button:hover{
    cursor: pointer;
    border-radius: 30px;
    background: #ff95ff4b;
    padding: 0 30px;
    transition: 0.3s;
}

#add-button:hover:after{
    content: " +";
    font-size: 15px;
}

#add-button:active{
    background: rgba(255, 138, 220, 0.507);
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}


ul li:before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("./unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    
}

ul li.checked{
    color: rgba(185, 50, 185, 0.795);
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("./checked.png")
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;;
    line-height: 30px;
    text-align: center;

}

ul li span:hover{
    background:#ff95ff4b;;
    border-radius: 50%;
    transition: 0.3s;
}


@media screen and (max-width: 500px) {

    .container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: url(./IMG_0297.jpg);
    background-size: cover;

    }
    .todo-app{
      margin: 5px auto;
      margin-top: 50px;
      padding: 10px;
      max-width: 300px;
      text-wrap: wrap;
      overflow: hidden;
    }

    #input-box{
        height: 30px;
        border-radius: 5px;
        border: 0px solid;
        padding: 0;
        padding-left: -2px;
        background: transparent;
        width: 40%;
        font-size: 13px;
        overflow: hidden;
    }

    ul li{
        list-style: none;
        font-size: 12px;
        padding: 12px 8px 12px 40px;
        user-select: none;
        cursor: pointer;
        position: relative;
        margin-left: 5px;
    }

    #add-button{
        height: 30px;
        padding: 0px;
        border: white;
        background: transparent;
        width: 20px;
        margin-right: 15px;
    }

    #add-button:hover{
        cursor: pointer;
        border-radius: 30px;
        background: #ff95ff4b;
        padding: 0px;
        transition: 0.3s;
        width: 30px;
        
    }

    #add-button:hover:after{
        content: "";
        font-size: 0px;
        display: none;
    }

  }
